<button mat-raised-button (click)="shuffle(qtdShuffle.value)">Embaralhar</button>
<!-- <input class="iterationInput" #qtdShuffle size="15" placeholder="número de iterações"><br> -->
<mat-form-field>
    <mat-label>Número de iterações</mat-label>
    <input matInput class="iterationInput" value="20" #qtdShuffle>
</mat-form-field><br>
<button mat-raised-button (click)="firstHeuristic()">Resolver por análise em um nível</button><br>
<button mat-raised-button (click)="secondHeuristic()">Resolver por análise em dois níveis</button>
<div style="color: white; margin: 5px;">
    Iterações = {{iteracoes}}
</div>